*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;

    
}
body{
    background: linear-gradient(to top right,#000000 90%, #1a9883);
    color:#effffe;
}
.header{
    position: fix;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    /*background: transparent;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo{
    font-size: 30px;
    color: #effffe;
    position: center;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 18px;
    color: #effffe;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    
}
.navbar a:hover,
.navbar a.active{
    color: #89dee5;
}

.home{
    height: 90vh;
    display: flex;
    background: url("/imagenes/portafolioHOME.jpeg") no-repeat;
    background-size: 1500px;
    background-position-x: center;
    background-position-y:center;
    border: 2px solid red;
    justify-content: space-evenly;
    
    color: #92eef0;
}
.izqui{
    margin-left: 3%;
    align-items: flex-start;
    justify-content: end;
    width: 40%;
    border: 2px solid red
}
.izqui h1{
    display: flex;
    margin-left: 5%;
    justify-content: flex-start;
    padding: 25% 0;
    font-weight: 600;
    font-size: 3em;
    color: #083d34;
}

.izqui p {
    margin-left: 20%;
    font-size: 20px;
    margin-right: 10%;
}
.dere{
    
    margin-right: 3%;
    width: 40%;
    border: 2px solid red;
}
.dere p{
    margin-left: 5%;
    padding: 17% 0;
    font-size: 1.3em;
    margin-right: 8%;
}